.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.job-card {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.job-card:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.job-card.selected {
  /* border: 2px solid #007bff; */
  background: #d9e8ff;
}

.send-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #2e343a;
  color: white;
  cursor: pointer;
}

.send-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 0.5s infinite;
}
@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
.login-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animated-text {
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(90deg, #4a4a4a, #777777, #858585);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite, dots 3s steps(3, end) infinite;
  display: inline-block;
  -webkit-text-fill-color: transparent;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.animated-text::after {
  content: "";
  display: inline-block;
  /* animation: dots 1.5s steps(3, end) infinite; */
}
